* {
    font-family: Roboto, sans-serif;
}

body {
    background-color: #212121;
}

h1 {
    color: #FFFFFF;
}

button:hover {
    cursor: pointer;
}

@media (max-device-width:1024px) {
    button {
        font-size: x-large;
    }
}

@media (min-device-width:1025px) {
    button {
        font-size: xx-large;
    }
}
