* {
    font-family: Roboto, sans-serif;
}

body {
    background-color: #212121;
}

h1 {
    color: #FFFFFF;
}

button {
    font-size: x-large;
}

    button:hover {
        cursor: pointer;
    }

@media (min-width:600px) {
    button {
        font-size: xx-large;
    }
}
