* {
    font-family: Roboto, sans-serif;
}

body {
    background-color: #212121;
}

h1 {
    color: #FFFFFF;
}

button:hover {
    cursor: pointer;
}

@media (min-device-width:320px) {
    button {
        font-size: large;
    }
}

@media (min-device-width:600px) {
    button {
        font-size: xx-large;
    }
}
