.tab-html {
    background-color: #000080;
    color: #FFFFFF;
    border: none;
}

    .tab-html:hover {
        background-color: #0000FF;
    }

.tab-html-content {
    background-color: #000080;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: block;
}

.tab-css {
    background-color: #008000;
    color: #FFFFFF;
    border: none;
}

    .tab-css:hover {
        background-color: #00FF00;
    }

.tab-css-content {
    background-color: #008000;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
}
