.tab-html {
    background-color: #0D47A1;
    color: #FFFFFF;
    border: none;
    display: none;
}

    .tab-html:hover {
        background-color: #0D47A1;
    }

.tab-html-content {
    background-color: #0D47A1;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
}

.tab-css {
    background-color: #1B5E20;
    color: #FFFFFF;
    border: none;
    display: none;
}

    .tab-css:hover {
        background-color: #1B5E20;
    }

.tab-css-content {
    background-color: #1B5E20;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
}
