.test-results {
    width: 100%;
    padding: 8pt;
}

    .test-results button {
        width: 100%;
        background-color: #1976D2;
        color: #FFFFFF;
        border: none;
        padding: 8pt;
        margin: 0px;
        display: block;
    }

.individual-test-results {
    width: 100%;
    background-color: #3996D2;
    color: #FFFFFF;
}
